footer {
    min-height: 40vh;
    background: $color---primary--moderate--cyan;
    color: $color--primary--desa--cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font--barlow;
    .footer__text {
        display: flex;
        padding: 2rem 0rem;
        h4 {
            cursor: pointer;
            transition: 0.25s all ease-in-out;
            &:hover {
                transform: translateY(-3px) scale(1.1);
            }
        }
        h4:nth-of-type(2) {
            padding: 0rem 2rem;
        }
    }

    .footer__images {
        padding-top: 4rem;
        img {
            cursor: pointer;
            padding-right: 2rem;
            transition: 0.25s all ease-in-out;
            &:hover { 
                transform: translateY(-3px) scale(1.1);
            }
        }
    }
}